*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    display:table;
    content: "";
    clear: both;
}
body{
    font-family: 'Montserrat', sans-serif;
}
body>.container{
    width: 80%;
    margin: auto;
}
.container header{
    height: 130px;
    width: 100%;
    margin: 20px 0 30px;
    position:relative;
}
.logo{
    width: 180px;
    padding-right: 20px;
    border-right: 1px solid #F1F1F1;
}
ul{
    list-style-type:none;
    position: absolute;
    bottom: 0;
    font-size: 16px;
}
li{
    display: inline;
    margin:20px 5px;
    text-transform: uppercase;
}
li>a{
    text-decoration: none;    
    color:#8E8E8E;
}
.container .banner-section{
    position: relative;
    width: 100%;
    height: 480px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin: 30px 0 30px;
    border-radius: 10px;    
    overflow: hidden;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.banner-text-container{
    position: absolute;
    bottom: 18%;
    left: 50px;
    color: white;
    width:48%;
}
.banner-title{
    font-size: 26px;
}
.heading-column-section{
    width: 100%;
}
main p{
    color: #8E8E8E;
}
.columns-container{
    width: 100%;
    height: 700px;
    padding:30px 0;
}
.left-column, .center-column, .right-column{
    border: 10px;
}
.left-column{
    width: 25%;
    float: left;
}
.left-column-img{
    background-image: url(../img/img-1.jpg);
    height: 230px;
    background-position: center;    
    background-size: cover;
    position: relative;
    border-radius: 10px;    
    overflow: hidden;
}
}
main h4{
    padding: 20px 0;
}
.center-column{
    width: calc(50% - 40px);
    float: left;
    margin: 0 20px;
}
.center-column-img{    
    background-image: url(../img/banner-2.jpg);
    height: 230px;
    background-size: cover;
    background-position:top;
    position: relative;
    border-radius: 10px;    
    overflow: hidden;
}
}
.right-column{
    width: 25%;
    float: left;
}
.right-column-img{
    background-image: url(../img/img-3.jpg);
    height: 230px;
    background-size: cover;
    background-position:top;
    position: relative;
    border-radius: 10px;    
    overflow: hidden;
}
footer{
    width: 100%;
    margin-top: 14px;
    margin-bottom: 20px;
    text-align: center;
}
footer>span{
    color: red;
    font-size: 25px;
    font-weight: 700;
}